$pink: #A18CB4;
$black: #292C33;
$grey: #95A2BB;
$white: #FFFFFF;
$ouro: #ADB167;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
$font: 'Inconsolata', monospace;

$transition: .35s ease-in-out;